[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "JuliaCall"]
	path = JuliaCall
	url = https://github.com/non-contradiction/juliacall
